# Python-Trash
__pycache__/
*.pyc
*.pyo
*.pyd

Algorithms/__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Results
plots/
*.png
*.csv
*.json
all_results.json

checkpoints/
*.pth
*.ipynb


# Virtual Environments
venv/
.env
.venv/
# IDE-specific
.DS_Store
Thumbs.db

# backups
*.bak
*.backup
/backups/

Test.ipynb