# Python-trash
__pycache__/
*.pyc
*.pyo
*.pyd

# Data & Results
plots/
*.png
*.csv
all_results.json
runs/
run_times.json

# Virtual environments
venv/
.env
.venv/
.vscode/
# Hardware specific
.DS_Store
Thumbs.db

# backups
*.bak
*.backup
/backups/

# Workstation connections
sduabdullah/
sdumelih/
sdurobin/
*.pth